body{
	font-family: "Avenir Next", "Avenir", "Futura", "Verdana", "Roboto", sans-serif;
	background: #F2D653;
	color: #37424A;
	text-align: center;
}

h1{
	font-size: 4em;
}

h3 {
	font-weight: 400;
}

.container {
	@include outer-container;
	@include pad (0 10px);
}

footer {
  font-size: 0.75em;
  a {
    color: inherit;
  }
}
