<html>
  <head>
    <title>Cheers!</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <%- yield %>
      <footer>
      <p>If you appreciate this, let me know! <a href="http://twitter.com/jordi2108">@jordi2108</a></p>
    </footer>
    </div>
  </body>
</html>
